
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    color: #0b3c5d;
}


.box {
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 4px solid #0b3c5d;
    margin: 20px;
    background-color: #f4f6f8;
}


.default-box {
    box-sizing: content-box;
}


.border-box {
    box-sizing: border-box;
    background-color: #f2b705;
}


.large-box {
    width: 260px;
    height: 130px;
    padding: 30px;
    margin: 30px;
    background-color: #ddd;
}




.block-div {
    display: block;
    background-color: #cce5ff;
    padding: 10px;
    margin-bottom: 10px;
}


.inline-span {
    display: inline;
    background-color: #ffddcc;
    padding: 5px;
}


.inline-block-p {
    display: inline-block;
    width: 180px;
    padding: 10px;
    margin: 10px;
    background-color: #d4edda;
}


.display-none {
    display: none;
}


.visible-box {
    width: 200px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    background-color: #90caf9;
    border: 2px solid #0b3c5d;
}

.hidden-box {
    width: 200px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    background-color: #ffc107;
    border: 2px solid #0b3c5d;
    visibility: hidden;
}
